#main-video {
    // display: none !important;
    width:100%;
    // border: 1px solid black;
    margin-top:15px;
}

#input-id{
    margin-left: 50px;
    margin-top: 5px;
}

// video::-webkit-media-controls-fullscreen-button {
//     display: none !important;
// }
