.chat-icon{
    width: 4%;
    margin-top: -15px;
    position: fixed;
    bottom: 10px;
}

.card {
    width:300px;
    margin-top:-350px;
    background-color:#fffaff;
    color:black
}

.open-chat{
    float:right;
    bottom:0px;
    position:fixed;
    left:20px
}
.open-icon{
    float:left;
     margin-left:20px;
}

.btn-danger{
    float:right;
    line-height:10px;
}

.card-body{
    height:250px;
    overflow-y: scroll;
}